<form method="post" action="/team">
  <h2>Create a Team and Heroes!</h2>
  <p>Team Name: <input type="text" name="team[name]"></p>
  <p>Team Motto: <input type="text" name="team[motto]"></p>

  <h2>Hero 1</h2>
  <p>Hero's Name: <input type="text" name="team[heroes][][name]" id="member1_name"></p>
  <p>Hero's Power: <input type="text" name="team[heroes][][power]" id="member1_power"></p>
  <p>Hero's Biography: <input type="text" name="team[heroes][][bio]" id="member1_bio"></p>

  <h2>Hero 2</h2>
  <p>Hero's Name: <input type="text" name="team[heroes][][name]" id="member2_name"></p>
  <p>Hero's Power: <input type="text" name="team[heroes][][power]" id="member2_power"></p>
  <p>Hero's Biography: <input type="text" name="team[heroes][][bio]" id="member2_bio"></p>

  <h2>Hero 3</h2>
  <p>Hero's Name: <input type="text" name="team[heroes][][name]" id="member3_name"></p>
  <p>Hero's Power: <input type="text" name="team[heroes][][power]" id="member3_power"></p>
  <p>Hero's Biography: <input type="text" name="team[heroes][][bio]" id="member3_bio"></p>

  <input type="submit" id="submit">
</form>
